<!DOCTYPE html>
<html>
<head>
    <title>Balochistan Province</title>
    <link rel="shortcut icon" href="/img/logo.png"/>
    <link rel='stylesheet' href="/Balochistan.css" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/71b0414b2a.js" crossorigin="anonymous"></script>
        <!--slider files-->
    <link rel="stylesheet" href="/lsfile/lightslider.css">
    <script src="/jquery.js"></script>
    <script src="/lsfile/lightslider.js"></script>

</head>
<body onload="loadfun()">
    <div id="loading">
  <div class="load1" ></div>
  <div class="load2"></div>
  <div class="load3"></div>
  <div class="load4"></div>
  <div class="load5"></div>
</div>
<div class="container" id="myDiv">
  <script>
  function loadfun() {
  myVar = setTimeout(showPage, 3000);
}

function showPage() {
  document.getElementById("loading").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
  document.body.style.overflow="visible";
}
</script>
  <div class="wrapper">
     <h1 class="messagehead">Click the cities and places to add them in wishlist then click continue in cart to confirm</h1>
    <!--navigation bar-->
  <nav class="navbar">
      <!--logo-->
      <img src="/img/logo.png">
      <a href="/mainpage" class="logo">Touristooze</a>
        <!--search-->
        <!--<label class="menu-icon" for="menu-btn" style="font-size:1.2rem; ">
          <span><i style= "padding: 10px" class="fas fa-bars"></i></span>
      </label> -->
      <!--menu-->
            <ul class="menu">
          <li><a href="/MyTrips">My Trips</a></li>
          <li><a href="/AboutUs/#re">Reviews</a></li>
          <li><a href="/AboutUs">About</a></li>
          <li><a href="/catalog">Destinations</a></li>
          <li><a href="/SignIn">{{tag}}</a></li>  
        </ul>
  </nav>
  </div>
  <div class="frames">
        
        <ul>
          <li id ="hul1"><img src="/Balochistan/balochi3.jpg"></li>
          <li id ="hul2"><img src="/Balochistan/balochi1.jpg"></li>
          <li id ="hul3"><img src="/Balochistan/balochi2.jpg"></li>
        </ul>

  </div>
</div>

<div class="actualcontent">
  <div id="falto1">
  </div>

  <h1 id="PROVINCE" style="width: 60%;font-size:8vw;">BALOCHISTAN</h1>
   <div id="falto2"style="margin-left:69%;width: 31%;">
  </div> 
  <p id="quote">"A hidden gem , A treasure cove..."</p>

    <div class="textbox">
    <p>Balochistan is the largest province both in terms of area enriched with various minerals and natural resources.
    It also has one of the largest and busiest port Gawadar which makes it an important point of trade.</p>
    <p>The main ethnic people residing here are the Balochs that hold great resemblance with the iranian, which is why it is the <span style="font-weight:bold;">LAND OF BALOCHS </span></p>
  </div>
  
  <div style="display:flex;flex-direction:row;padding-left:15%;">
  <div class="sideinfo">
    <h2>Best Time to visit </h2>
    <h4>Feburary to April<br>August to November</h4>
    <p>The weather in Balochistan is extremely cold in winter and scorching hot in summers</p>
  </div>
    <div class="sideinfo">
    <h2>Events</h2>
   
    {{#each events}}
    <p>{{this.Name}} at {{this.City}} on {{this.month}}</p><br>
    {{/each}}
  </div>
  </div>

  <h1 class="deshead" >COOL INSIGHTS</h1>
  <div class="insight">
    <div class="imgdiv">
      <img src="/Balochistan/i1.jpg" alt="" id="sight1">
    </div>
    <div class="imgdiv">
      <img src="/Balochistan/i2.jpg" alt="" id="sight2">
    </div>
    <div class="imgdiv">
        <img src="/Balochistan/i3.jpg" alt="" id="sight3">
    </div>
    <div class="imgdiv">
        <img src="/Balochistan/i4.jpg" alt="" id="sight4">
    </div>
    <div class="imgdiv">
      <img src="/Balochistan/i5.jpg" alt="" id="sight5">
    </div>
    <div class="imgdiv">
      <img src="/Balochistan/i6.jpg" alt="" id="sight6">
    </div>
    <div class="imgdiv">
      <img src="/Balochistan/i7.jpg" alt="" id="sight7">
    </div>
    <div class="imgdiv">
      <img src="/Balochistan/i8.jpg" alt="" id="sight8">
    </div>
    <div class="imgdiv">
      <img src="/Balochistan/i9.jpg" alt="" id="sight9">
    </div>
    <div class="imgdiv">
      <img src="/Balochistan/i10.jpg" alt="" id="sight10">
    </div>
  </div>
<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("imgdiv");
  
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  
  slides[slideIndex-1].style.display = "block";  
  
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>

  <h1 class="deshead" >FEATURED DESTINATIONS</h1>

  <div class="filterbar">
  <div class="filterportion" id="filterportion">
      <div class="filterbox">
      <img src="/img/payment/close.png" alt="close" class="close" id="close2">
        <h4 class="filterhead" id="fh1">Filter</h4>
        <div class="activityfilter" >
          
          <h4 class="filterhead" id="fh2">Filter by activity</h4>
          <div style="display:flex;">
          <div style=" width:30%;">
          <input type="checkbox" name="activity" value="swimming" id="ac1" class="activitychoice">
          <label for="ac1">Swimming</label><br>
          <input type="checkbox" name="activity" value="outdoors" id="ac2" class="activitychoice">
          <label for="ac2">Outdoors</label><br>
          <input type="checkbox" name="activity" value="shopping" id="ac3" class="activitychoice">
          <label for="ac3">Shopping</label>
          </div>
          <div style="width:30%;margin-left:5%">
          <input type="checkbox" name="activity" value="hill" id="ac4" class="activitychoice">
          <label for="ac4">Hill</label><br>
          <input type="checkbox" name="activity" value="culture" id="ac5" class="activitychoice">
          <label for="ac5">Culture</label><br>
          <input type="checkbox" name="activity" value="history" id="ac6" class="activitychoice">
          <label for="ac6">History</label>
          </div>
          </div>
        </div>
       
        <div style="display:flex;padding-left:60%">
          <button type="button" id="applyBtn" >Apply</button>
          <button type="button" id="cancelBtn" >Cancel</button>
        </div>
      </div>
    </div>
  <div class="search" style="width:20%;height:50px; border-color:rgb(99, 32, 119)" >
      <input type="text" placeholder="Search for cities..." id="cityfilter" name="cityfilter" >
      <a  id="f"  style="font-size:large;cursor:pointer"><i class="fas fa-search"></i></a>
  </div>


  <button class="buttons" id="fbtn" style="margin-left:3%;width:12%;border-radius:15px;"><i class="fas fa-filter" style="margin-right:7%;">
    </i>Filter</button>
  </div>
    <h1 class="searcherr">This city doesnt exist</h1>
    <script>
  function enableScrolling(){
    window.onscroll=function(){};
    }
      function disableScrolling(){
          var x=window.scrollX;
          var y=window.scrollY;
          window.onscroll=function(){window.scrollTo(x, y);};
      }
      document.querySelector("#close2").addEventListener("click", function(){
            document.querySelector("#filterportion").style.display="none";
            enableScrolling()
            })
      document.querySelector("#cancelBtn").addEventListener("click", function(){
            document.querySelector("#filterportion").style.display="none";
            enableScrolling()
            })
      document.querySelector("#applyBtn").addEventListener("click", function(){
            document.querySelector("#filterportion").style.display="none";
            enableScrolling()
            })
      document.querySelector("#fbtn").addEventListener("click", function(){
            document.querySelector("#filterportion").style.display="block";
            disableScrolling()})
  </script>
  
  <!--Destination slider-->
  <div style="margin-left:6%; padding-right:6%">

  <ul id="autoWidth" class="cs-hidden">
    <li class="item-a o" id="1">
      <div class="box" style="background-image: url(/Balochistan/logos/quetta.jpg);">
      <h1 class="boxhead">quetta</h1>
      </div>
    </li>
    <li class="item-b o" id="2">
      <div class="box" style="background-image: url(/Balochistan/logos/gawadar.jpg);">
      <h1 class="boxhead">Gawadar</h1>
      </div> 
    </li>
    <li class="item-c o" id="3">
      <div class="box"style="background-image: url(/Balochistan/logos/kalat.jpg);">
      <h1 class="boxhead">kalat</h1>
      </div></li>
    <li class="item-d o" id="4">
      <div class="box"style="background-image: url(/Balochistan/logos/harnai.jpg);">
      <h1 class="boxhead">harnai</h1>
      </div>
    </li>
    <li class="item-e o" id="5">  
      <div class="box"style="background-image: url(/Balochistan/logos/zhob.jpg);">
      <h1 class="boxhead">zhob</h1>
      </div>
    </li>
    <li class="item-f o" id="6">  
      <div class="box"style="background-image: url(/Balochistan/logos/lasbela.jpg);">
      <h1 class="boxhead">lasbela</h1>
      </div>
    </li>
    <li class="item-g o" id="7">  
      <div class="box"style="background-image: url(/Balochistan/logos/kochi.jpg);">
      <h1 class="boxhead">kochi</h1>
      </div>
    </li>
    <li class="item-h o" id="8">  
      <div class="box"style="background-image: url(/Balochistan/logos/kech.jpg);">
      <h1 class="boxhead">kech</h1>
      </div>
    </li>
    <li class="item-i o" id="9">  
      <div class="box"style="background-image: url(/Balochistan/logos/makran.jpg);">
      <h1 class="boxhead">makran</h1>
      </div>
    </li>
  </ul> 
  <div id="cl">
    <form action="/auth/planbaloch" method="POST">
  <div class="city" id="zhob">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
          <label for="check1">
          <label for="check1">
            <input id="check1" type="checkbox" value="Zhob" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/zhob.jpg" alt="">
            </div>
            <h1 class="cname">Zhob</h1>
          </div>
        
              

{{#each zhob}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="nushki">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check2">
            <input id="check2" type="checkbox" value="Nushki" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/nushki.jpg" alt="">
            </div>
            <h1 class="cname">Nushki</h1>
          </div>
          
              
{{#each nushki}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="nasirabad">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
          <label for="check3">
            <input id="check3" type="checkbox" value="Nasirabad" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/nasirabad.jpg" alt="">
            </div>
            <h1 class="cname">nasirabad</h1>
          </div>
          
              

{{#each nasirabad}}
           <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="kochi">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check4">
            <input id="check4" type="checkbox" value="Kochi" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/kochi.jpg" alt="">
            </div>
            <h1 class="cname">kochi</h1>
          </div>
          


   {{#each kochi}}
          <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="kohlu">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                   <label for="check5">
            <input id="check5" type="checkbox" value="Kohlu" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/kohlu.jpg" alt="">
            </div>
            <h1 class="cname"> kohlu
            </h1>
          </div>
          
 {{#each kohlu}}
           <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="khuzdar">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check6">
            <input id="check6" type="checkbox" value="Khuzdar" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/khuzdar.jpg" alt="">
            </div>
            <h1 class="cname">khuzdar</h1>
          </div>
          
 {{#each khuzdar}}
              <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="quetta">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                   <label for="check7">
            <input id="check7" type="checkbox" value="Quetta" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/quetta.jpg" alt="">
            </div>
            <h1 class="cname">quetta</h1>
          </div>

{{#each quetta}}
            <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="sibi">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check8">
            <input id="check8" type="checkbox" value="Sibi" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/sibi.jpg" alt="">
            </div>
            <h1 class="cname"> Sibi</h1>
          </div>
          
{{#each sibi}}
          <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="musakhel">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check9">
            <input id="check9" type="checkbox" value="Musakhel" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/musakhel.jpg" alt="">
            </div>
            <h1 class="cname"> musakhel</h1>
          </div>
          
{{#each musakhel}}
            <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="makran">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                   <label for="check10">
            <input id="check10" type="checkbox" value="Makran" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/makran.jpg" alt="">
            </div>
            <h1 class="cname">Makran</h1>
          </div>
          
{{#each makran}}
           <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="loralai">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check11">
            <input id="check11" type="checkbox" value="Loralai" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/loralai.jpg" alt="">
            </div>
            <h1 class="cname">loralai</h1>
          </div>
      
{{#each loralai}}
        <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="lasbela">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.visibility='hidden'">
                   <label for="check12">
            <input id="check12" type="checkbox" value="Lasbela" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/lasbela.jpg" alt="">
            </div>
            <h1 class="cname">lasbela</h1>
          </div>
          
{{#each lasebela}}
            <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="kech">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check13">
            <input id="check13" type="checkbox" value="Kech" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/kech.jpg" alt="">
            </div>
            <h1 class="cname">kech</h1>
          </div>
         
{{#each kech}}
            <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="kalat">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check14">
            <input id="check14" type="checkbox" value="Kalat" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/kalat.jpg" alt="">
            </div>
            <h1 class="cname">Kalat</h1>
          </div>
          
{{#each kalat}}
              <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 
    <div class="city" id="jaffarabad">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.visibility='hidden'">
                    <label for="check15">
            <input id="check15" type="checkbox" value="Jaffarabad" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/jaffarabad.jpg" alt="">
            </div>
            <h1 class="cname">jaffarabad</h1>
          </div>
         
{{#each jaffarabad}}
            <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="harnai">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check16">
            <input id="check16" type="checkbox" value="Harnai" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/harnai.jpg" alt="">
            </div>
            <h1 class="cname">harnai</h1>
          </div>
         

{{#each harnai}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="derabugti">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check17">
            <input id="check17" type="checkbox" value="Dera Bugti" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/derabugti.jpg" alt="">
            </div>
            <h1 class="cname">Derabugti</h1>
          </div>
         
{{#each derabugti}}
            <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="gawadar">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check18">
            <input id="check18" type="checkbox" value="Gawadar" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/gawadar.jpg" alt="">
            </div>
            <h1 class="cname">Gawadar</h1>
          </div>
         
{{#each gawadar}}
               <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="chagai">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check19">
            <input id="check19" type="checkbox" value="Chagai" class="checkbox" name="city" >
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/chagai.jpg" alt="">
            </div>
            <h1 class="cname">Chagai</h1>
          </div>
         
{{#each chagai}}
                <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="awaran">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
          
          
          
                   <label for="check20">
            <input id="check20" type="checkbox" value="Awaran" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Balochistan/logos/awaran.jpg" alt="">
            </div>
            <h1 class="cname">Awaran</h1>
          </div>
      
{{#each awaran}}
                <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 
</div>
   
  <script src="/slider.js">

  </script>
  


  </div>
  
</div>
<div class="cart"><i class="fas fa-shopping-cart"></i></div>

    <div class="filterportion" id="cartportion">
      <div class="filterbox">
      <img src="/img/payment/close.png" alt="close" class="close" id="close5">
        <h4 class="filterhead" id="fh1">Cart</h4>
        <div id="listbox">
           <div id="listbox">
          <h3 id="list"></h3>
        </div>
        </div>
        <div style="display:flex;padding-left:60%">
          <button type="submit" id="continueBtn" >Continue</button>
          <button type="button" id="ccancelBtn" >Cancel</button>
        </div>
      </div>
    </div>
</div>
</body>
</form>
<footer>
</footer>
<script>     

   document.querySelector("#ccancelBtn").addEventListener("click", function(){
            document.querySelector("#cartportion").style.display="none";
            enableScrolling()
            })</script>
  <script>

$(document).ready(function() {
var checkboxes = $( '.activitychoice' );

    // Check all checkboxes
    checkboxes.prop( 'checked', true );





   
  $(".checkbox").click(function () {
    $( "#list" ).empty();
            //Reference the CheckBoxes and determine Total Count of checked CheckBoxes.
            var checked = $("#cl input[type=checkbox]:checked").length;
 
            if (checked > 0) {
                $('.messagehead').css("display","block");
                var wishlist = [];
                 $.each($("input[name='city']:checked"), function(){
                wishlist.push($(this).val());
                
            });
            
            $.each(wishlist, function(index, value){
            $("#list").append (value + "<br>");
        });
            } else {
                $('.messagehead').css("display","none");
            }
            

        });
  $("#f").click(function(){
        var x = $("#cityfilter").val();
        x=x.toLowerCase();
        
        if($("#"+x).length>0){$('.searcherr').css("display","none");$(".city").css("display","none");$("#"+x).css("display","block")}
        
        else{ $('.searcherr').css("display","block");$(".city").css("display","block")}
        
    });
    $("#ccancelBtn").click(function(event) {$('#cartportion').css("display","none");} );


    $("#applyBtn").click(function(event) {
      $('#filterportion').css("display","none");
      $(".places").css("display","none")
      $(".city").css("display","block")
     if($("#ac1").prop("checked") == true){
                $(".swimming").css("display","block")
            }
      if($("#ac2").prop("checked") == true){
                $(".outdoors").css("display","block")
            }
      if($("#ac3").prop("checked") == true){
                $(".shopping").css("display","block")
            }
      if($("#ac4").prop("checked") == true){
                $(".hill").css("display","block")
            }
      if($("#ac5").prop("checked") == true){
                $(".culture").css("display","block")
            }
      if($("#ac6").prop("checked") == true){
                $(".history").css("display","block")
            }
     
      } );




    $(".cart").click(function(event) {$('#cartportion').css("display","block");} );
    $("#close5").click(function(event) {$('#cartportion').css("display","none");} );
  
    $(".o").click(function(event) {
       
       x=$(this).attr('id');
      
       $(".city").css("display","none");
if (x=="1"){
       $('#quetta').css("display","block");
       }
       else  if(x=="2"){$('#gawadar').css("display","block");}

       else  if(x=="3"){$('#kalat').css("display","block");}

       else  if(x=="4"){$('#harnai').css("display","block");}

       else  if(x=="5"){$('#zhob').css("display","block");}

       else  if(x=="6"){$('#lasbela').css("display","block");}

       else  if(x=="7"){$('#kochi').css("display","block");}

       else  if(x=="8"){$('#kech').css("display","block");}

       else  if(x=="9"){$('#makran').css("display","block");}

    });
});
  </script>

</body>
</html>