<!DOCTYPE html>
<html>
<head>
    <title>Khyber Pakhtunkhwa Province</title>
    <link rel="shortcut icon" href="/img/logo.png"/>
    <link rel='stylesheet' href="/KPK.css" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/71b0414b2a.js" crossorigin="anonymous"></script>
        <!--slider files-->
    <link rel="stylesheet" href="/lsfile/lightslider.css">
    <script src="/jquery.js"></script>
    <script src="/lsfile/lightslider.js"></script>

</head>
<body onload="loadfun()">
    <div id="loading">
  <div class="load1" ></div>
  <div class="load2"></div>
  <div class="load3"></div>
  <div class="load4"></div>
  <div class="load5"></div>
</div>
<div class="container" id="myDiv">
   <script>
  function loadfun() {
  myVar = setTimeout(showPage, 3000);
}

function showPage() {
  document.getElementById("loading").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
  document.body.style.overflow="visible";
}
</script>
  <div class="wrapper">
    <h1 class="messagehead">Click the cities and places to add them in wishlist then click continue in cart to confirm</h1>
    <!--navigation bar-->
  <nav class="navbar">
      <!--logo-->
      <img src="/img/logo.png">
      <a href="/mainpage" class="logo">Touristooze</a>
        <!--search-->

<!--        <label class="menu-icon" for="menu-btn" style="font-size:1.2rem; ">
          <span><i style= "padding: 10px" class="fas fa-bars"></i></span>
      </label> -->
      <!--menu-->
      <ul class="menu">
          <li><a href="/MyTrips">My Trips</a></li>
          <li><a href="/AboutUs/#re">Reviews</a></li>
          <li><a href="/AboutUs">About</a></li>
          <li><a href="/catalog">Destinations</a></li>
          <li><a href="/SignIn">{{tag}}</a></li>  
        </ul>
  </nav>
  </div>
  <div class="frames">
        
        <ul>
          <li id ="hul1"><img src="/Khyber/pakhtun3.jpg"></li>
          <li id ="hul2"><img src="/Khyber/pakhtun1.jpg"></li>
          <li id ="hul3"><img src="/Khyber/pakhtun2.jpg"></li>
        </ul>

  </div>
</div>

<div class="actualcontent">
  <div id="falto1">
  </div>

  <h1 id="PROVINCE" style="font-size:8vw;width: 80%;">KHYBER PAKHTUN</h1>
   <div id="falto2" style="margin-left:87%;width: 13%;">
  </div> 
  <p id="quote">"The land of the beautiful and the brave..."</p>

    <div class="textbox">
    <p>Khyber Pakhtunkhwa or the <span style="font-weight:bold;">hub of adventurers and explorers</span> has a varied landscape ranging from rugged mountains, valleys, hills and dense agricultural farms.
     It has enough beauty and charm to keep you enthralled forever.The region is well known for its ancestral roots having a number of Hindu and Buddhist archaeological sites.</p>
    <p>The Pakhtuns or the Pathans are considered to be one of the beautiful but bravest people.Strong and dignified is how they are categorized</p>
  </div>
  
  <div style="display:flex;flex-direction:row;padding-left:15%;">
  <div class="sideinfo">
    <h2>Best Time to visit </h2>
    <h4>May to September</h4>
    <p>The weather in Khyber Pakhtunkhwa is normally mild with cold freezing winters</p>
  </div>
    <div class="sideinfo">
    <h2>Events</h2>
   
    {{#each events}}
    <p>{{this.Name}} at {{this.City}} on {{this.month}}</p><br>
    {{/each}}
  </div>
  </div>

<h1 class="deshead" >COOL INSIGHTS</h1>
  <div class="insight">
    <div class="imgdiv">
      <img src="/Khyber/i1.jpg" alt="" id="sight1">
    </div>
    <div class="imgdiv">
      <img src="/Khyber/i2.jpg" alt="" id="sight2">
    </div>
    <div class="imgdiv">
        <img src="/Khyber/i3.jpg" alt="" id="sight3">
    </div>
    <div class="imgdiv">
        <img src="/Khyber/i4.jpg" alt="" id="sight4">
    </div>
    <div class="imgdiv">
      <img src="/Khyber/i5.jpg" alt="" id="sight5">
    </div>
    <div class="imgdiv">
      <img src="/Khyber/i6.jpg" alt="" id="sight6">
    </div>
    <div class="imgdiv">
      <img src="/Khyber/i7.jpg" alt="" id="sight7">
    </div>
    <div class="imgdiv">
      <img src="/Khyber/i8.jpg" alt="" id="sight8">
    </div>
    <div class="imgdiv">
      <img src="/Khyber/i9.jpg" alt="" id="sight9">
    </div>
    <div class="imgdiv">
      <img src="/Khyber/i10.jpg" alt="" id="sight10">
    </div>
  </div>
<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("imgdiv");
  
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  
  slides[slideIndex-1].style.display = "block";  
  
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>
  <h1 class="deshead" >FEATURED DESTINATIONS</h1>

  <div class="filterbar">
  <div class="filterportion" id="filterportion">
      <div class="filterbox">
      <img src="/img/payment/close.png" alt="close" class="close" id="close2">
        <h4 class="filterhead" id="fh1">Filter</h4>
        <div class="activityfilter" >
          
          <h4 class="filterhead" id="fh2">Filter by activity</h4>
          <div style="display:flex;">
          <div style=" width:30%;">
          <input type="checkbox" name="activity" value="swimming" id="ac1" class="activitychoice">
          <label for="ac1">Swimming</label><br>
          <input type="checkbox" name="activity" value="outdoors" id="ac2" class="activitychoice">
          <label for="ac2">Outdoors</label><br>
          <input type="checkbox" name="activity" value="shopping" id="ac3" class="activitychoice">
          <label for="ac3">Shopping</label>
          </div>
          <div style="width:30%;margin-left:5%">
          <input type="checkbox" name="activity" value="Hill" id="ac4" class="activitychoice">
          <label for="ac4">Hill</label><br>
          <input type="checkbox" name="activity" value="culture" id="ac5" class="activitychoice">
          <label for="ac5">Culture</label><br>
          <input type="checkbox" name="activity" value="history" id="ac6" class="activitychoice">
          <label for="ac6">History</label>
          </div>
          </div>
        </div>
 
        <div style="display:flex;padding-left:60%">
          <button type="button" id="applyBtn" >Apply</button>
          <button type="button" id="cancelBtn" >Cancel</button>
        </div>
      </div>
    </div>
  <div class="search" style="width:20%;height:50px; border-color:rgb(99, 32, 119)" >
      <input type="text" placeholder="Search for cities..." id="cityfilter" name="cityfilter" >
      <a  id="f"  style="font-size:large;cursor:pointer"><i class="fas fa-search"></i></a>
  </div>


  <button class="buttons" id="fbtn" style="margin-left:3%;width:12%;border-radius:15px;"><i class="fas fa-filter" style="margin-right:7%;">
    </i>Filter</button>
  </div>
    <h1 class="searcherr">This city doesnt exist</h1>
    <script>
  function enableScrolling(){
    window.onscroll=function(){};
    }
      function disableScrolling(){
          var x=window.scrollX;
          var y=window.scrollY;
          window.onscroll=function(){window.scrollTo(x, y);};
      }
      document.querySelector("#close2").addEventListener("click", function(){
            document.querySelector("#filterportion").style.display="none";
            enableScrolling()
            })
      document.querySelector("#cancelBtn").addEventListener("click", function(){
            document.querySelector("#filterportion").style.display="none";
            enableScrolling()
            })
      document.querySelector("#applyBtn").addEventListener("click", function(){
            document.querySelector("#filterportion").style.display="none";
            enableScrolling()
            })
      document.querySelector("#fbtn").addEventListener("click", function(){
            document.querySelector("#filterportion").style.display="block";
            disableScrolling()})
  </script>
  
  <!--Destination slider-->
  <div style="margin-left:6%; padding-right:6%">

  <ul id="autoWidth" class="cs-hidden">
    <li class="item-a o" id="1">
      <div class="box" style="background-image: url(/Khyber/logos/peshawer.jpg);">
      <h1 class="boxhead">peshawer</h1>
      </div>
    </li>
    <li class="item-b o" id="2">
      <div class="box" style="background-image: url(/Khyber/logos/chitral.jpg);">
      <h1 class="boxhead">chitral</h1>
      </div> 
    </li>
    <li class="item-c o" id="3">
      <div class="box"style="background-image: url(/Khyber/logos/abbotabad.jpg);">
      <h1 class="boxhead">abbotabad</h1>
      </div></li>
    <li class="item-d o" id="4">
      <div class="box"style="background-image: url(/Khyber/logos/khyber.jpg);">
      <h1 class="boxhead">khyber</h1>
      </div>
    </li>
    <li class="item-e o" id="5">  
      <div class="box"style="background-image: url(/Khyber/logos/swat.jpg);">
      <h1 class="boxhead">Swat</h1>
      </div>
    </li>
    <li class="item-f o" id="6">  
      <div class="box"style="background-image: url(/Khyber/logos/bannu.jpg);">
      <h1 class="boxhead">bannu</h1>
      </div>
    </li>
    <li class="item-g o" id="7">  
      <div class="box"style="background-image: url(/Khyber/logos/mardan.jpg);">
      <h1 class="boxhead">mardan</h1>
      </div>
    </li>
    <li class="item-h o" id="8">  
      <div class="box"style="background-image: url(/Khyber/logos/mansehra.jpg);">
      <h1 class="boxhead">mansehra</h1>
      </div>
    </li>
    <li class="item-i o" id="9">  
      <div class="box"style="background-image: url(/Khyber/logos/kurram.jpg);">
      <h1 class="boxhead">kurram</h1>
      </div>
    </li>
  </ul> 
  <div id="cl">
    <form action="/auth/plankhyber" method="POST">
  <div class="city" id="abbotabad">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
          <label for="check1">
          <label for="check1">
            <input id="check1" type="checkbox" value="Abbotabad" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/abbotabad.jpg" alt="">
            </div>
            <h1 class="cname">abbotabad</h1>
          </div>
        
              
{{#each abbotabad}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="bannu">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check2">
            <input id="check2" type="checkbox" value="Bannu" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/bannu.jpg" alt="">
            </div>
            <h1 class="cname"> Bannu</h1>
          </div>
          
{{#each bannu}}
           <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="charsadda">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
          <label for="check3">
            <input id="check3" type="checkbox" value="Charsadda" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/charsadda.jpg" alt="">
            </div>
            <h1 class="cname"> Charsadda</h1>
          </div>
          
              
{{#each charsadda}}
              <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="chitral">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check4">
            <input id="check4" type="checkbox" value="Chitral" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/chitral.jpg" alt="">
            </div>
            <h1 class="cname">chitral</h1>
          </div>
          
{{#each chitral}}
            <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="deraismail">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                   <label for="check5">
            <input id="check5" type="checkbox" value="Dera Ismail Khan" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/deraismail.jpg" alt="">
            </div>
            <h1 class="cname">Deraismail</h1>
          </div>
          
             
{{#each deraismail}}
            <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="dir">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check6">
            <input id="check6" type="checkbox" value="Dir" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/dir.jpg" alt="">
            </div>
            <h1 class="cname">Dir</h1>
          </div>
          
             
{{#each dir}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="hangu">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                   <label for="check7">
            <input id="check7" type="checkbox" value="Hangu" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/hangu.jpg" alt="">
            </div>
            <h1 class="cname">Hangu</h1>
          </div>

{{#each hangu}}
           <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="haripur">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check8">
            <input id="check8" type="checkbox" value="Haripur" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/haripur.jpg" alt="">
            </div>
            <h1 class="cname">Haripur</h1>
          </div>
          
{{#each haripur}}
            <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="havelian">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check9">
            <input id="check9" type="checkbox" value="Havelian" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/havelian.jpg" alt="">
            </div>
            <h1 class="cname">Havelian</h1>
          </div>
          

{{#each havelian}}
          <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="karak">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                   <label for="check10">
            <input id="check10" type="checkbox" value="Karak" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/karak.jpg" alt="">
            </div>
            <h1 class="cname">Karak</h1>
          </div>
          

{{#each karak}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="khyber">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check11">
            <input id="check11" type="checkbox" value="Khyber" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/khyber.jpg" alt="">
            </div>
            <h1 class="cname">Khyber</h1>
          </div>
      
{{#each khyber}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="kohat">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.visibility='hidden'">
                   <label for="check12">
            <input id="check12" type="checkbox" value="Kohat" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/kohat.jpg" alt="">
            </div>
            <h1 class="cname">Kohat</h1>
          </div>
          
{{#each kohat}}
            <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="kurram">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check13">
            <input id="check13" type="checkbox" value="Kurram" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/kurram.jpg" alt="">
            </div>
            <h1 class="cname">Kurram</h1>
          </div>
         
{{#each kurram}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="lakkimarwat">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check14">
            <input id="check14" type="checkbox" value="Lakkimarwat" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/lakkimarwat.jpg" alt="">
            </div>
            <h1 class="cname">Lakkimarwat</h1>
          </div>
          
{{#each lakkimarwat}}
              <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 
    <div class="city" id="malakand">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.visibility='hidden'">
                    <label for="check15">
            <input id="check15" type="checkbox" value="Malakand" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/malakand.jpg" alt="">
            </div>
            <h1 class="cname">Malakand</h1>
          </div>
         
{{#each malakand}}
            <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="mansehra">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check16">
            <input id="check16" type="checkbox" value="Mansehra" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/mansehra.jpg" alt="">
            </div>
            <h1 class="cname">mansehra</h1>
          </div>
         
{{#each mansehra}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="peshawer">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check17">
            <input id="check17" type="checkbox" value="Peshawer" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/Peshawer.jpg" alt="">
            </div>
            <h1 class="cname">peshawer</h1>
          </div>
         
{{#each peshawer}}
           <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="swabi">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check18">
            <input id="check18" type="checkbox" value="Swabi" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/swabi.jpg" alt="">
            </div>
            <h1 class="cname">swabi</h1>
          </div>
         
{{#each swabi}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="nowshera">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check19">
            <input id="check19" type="checkbox" value="Nowshera" class="checkbox" name="city" >
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/nowshera.jpg" alt="">
            </div>
            <h1 class="cname">Nowshera</h1>
          </div>
         
{{#each nowshera}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="mardan">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
          
          
          
                   <label for="check20">
            <input id="check20" type="checkbox" value="Mardan" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Khyber/logos/mardan.jpg" alt="">
            </div>
            <h1 class="cname">Mardan</h1>
          </div>
      
{{#each mardan}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 
</div>
   
  <script src="/slider.js">

  </script>
  


  </div>
  
</div>
<div class="cart"><i class="fas fa-shopping-cart"></i></div>

    <div class="filterportion" id="cartportion">
      <div class="filterbox">
      <img src="/img/payment/close.png" alt="close" class="close" id="close5">
        <h4 class="filterhead" id="fh1">Cart</h4>
        <div id="listbox">
           <div id="listbox">
          <h3 id="list"></h3>
        </div>
        </div>
        <div style="display:flex;padding-left:60%">
          <button type="submit" id="continueBtn" >Continue</button>
          <button type="button" id="ccancelBtn" >Cancel</button>
        </div>
      </div>
    </div>
</div>
</body>
</form>
<footer>
</footer>
<script>     

   document.querySelector("#ccancelBtn").addEventListener("click", function(){
            document.querySelector("#cartportion").style.display="none";
            enableScrolling()
            })</script>
  <script>

$(document).ready(function() {
var checkboxes = $( '.activitychoice' );

    // Check all checkboxes
    checkboxes.prop( 'checked', true );
  $(".checkbox").click(function () {
    $("#list").empty()
            //Reference the CheckBoxes and determine Total Count of checked CheckBoxes.
            var checked = $("#cl input[type=checkbox]:checked").length;
 
            if (checked > 0) {
                $('.messagehead').css("display","block");
                var wishlist = [];
                 $.each($("input[name='city']:checked"), function(){
                wishlist.push($(this).val());
            });
            $.each(wishlist, function(index, value){
            $("#list").append(   value + '<br>');
          
        });
            } else {
                $('.messagehead').css("display","none");
            }
            

        });
  $("#f").click(function(){
        var x = $("#cityfilter").val();
        x=x.toLowerCase();
        
        if($("#"+x).length>0){$('.searcherr').css("display","none");$(".city").css("display","none");$("#"+x).css("display","block")}
        
        else{ $('.searcherr').css("display","block");$(".city").css("display","block")}
        
    });
    $("#ccancelBtn").click(function(event) {$('#cartportion').css("display","none");} );
    $(".cart").click(function(event) {$('#cartportion').css("display","block");} );
    $("#close5").click(function(event) {$('#cartportion').css("display","none");} );

        $("#applyBtn").click(function(event) {
      $('#filterportion').css("display","none");
      $(".places").css("display","none")
       $('.city').css("display","block");
     if($("#ac1").prop("checked") == true){
                $(".swimming").css("display","block")
            }
      if($("#ac2").prop("checked") == true){
                $(".outdoors").css("display","block")
            }
      if($("#ac3").prop("checked") == true){
                $(".shopping").css("display","block")
            }
      if($("#ac4").prop("checked") == true){
                $(".hill").css("display","block")
            }
      if($("#ac5").prop("checked") == true){
                $(".culture").css("display","block")
            }
      if($("#ac6").prop("checked") == true){
                $(".history").css("display","block")
            }
     
      } );


   
    $(".o").click(function(event) {
       $(".city").css("display","none");
       x=$(this).attr('id');

       if (x=="1"){
       $('#peshawer').css("display","block");
       }
       else  if(x=="2"){$('#chitral').css("display","block");}

       else  if(x=="3"){$('#abbotabad').css("display","block");}

       else  if(x=="4"){$('#khyber').css("display","block");}

       else  if(x=="5"){$('#swat').css("display","block");}

       else  if(x=="6"){$('#bannu').css("display","block");}

       else  if(x=="7"){$('#mardan').css("display","block");}

       else  if(x=="8"){$('#mansehra').css("display","block");}

       else  if(x=="9"){$('#kurram').css("display","block");}

    });
});
  </script>

</body>
</html>