<!DOCTYPE html>
<html>
<head>
    <title>My Trips</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/Mytrips.css"/>
    <link rel="shortcut icon" href="/img/logo.png"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/71b0414b2a.js" crossorigin="anonymous"></script>
        <!--slider files-->
    <link rel="stylesheet" href="/lsfile/lightslider.css">
    <script src="/jquery.js"></script>
    <script src="/lsfile/lightslider.js"></script>

</head>


<body onload="loadfun()">
    <div id="loading">
  <div class="load1" ></div>
  <div class="load2"></div>
  <div class="load3"></div>
  <div class="load4"></div>
  <div class="load5"></div>
</div>
    <div class="container" id="myDiv">
        <script>
  function loadfun() {
  myVar = setTimeout(showPage, 3000);
}

function showPage() {
  document.getElementById("loading").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
  document.body.style.overflow="visible";
}
</script>
        <div class="wrapper">
          <!--navigation bar-->
        <nav class="navbar">
            <!--logo-->
            <img src="/img/logo.png">
            <a href="/mainpage" class="logo">Touristooze</a>
              <!--search-->
           
             <!-- <label class="menu-icon" for="menu-btn" style="font-size:1.2rem; ">
                <span><i style= "padding: 10px" class="fas fa-bars"></i></span>
            </label> -->
            <!--menu-->
        <ul class="menu">
          <li><a href="/MyTrips">My Trips</a></li>
          <li><a href="/AboutUs/#re">Reviews</a></li>
          <li><a href="/AboutUs">About</a></li>
          <li><a href="/catalog">Destinations</a></li>
          <li><a href="/SignIn">Logout</a></li>  
        </ul>
        </nav>
        
    
        <h3>My Profile</h3>

    
    
    
    
    </div>

    <div class="Card">
        <div style="display: flex;flex-direction: row;">
        <div class="dp">

        </div>
        <div class="name">
            <h2>{{name}}</h2>
        </div>
        <h3>Payment Status : </h3>
        <h4>{{pay}}</h4>
        </div>
        <div class="info">
            <h3>Number : </h3><h2 name="number">{{phone_no}}</h2><br>
            <h3>Email : </h3><h2 name="email">{{email}}</h2><br>
            <h3>Country : </h3><h2 name="country">{{country}}</h2><br>
            
            
        </div>

    </div>
    <div class="wishlist">
        <h3>WISHLIST</h3></br>
        <div id="wishlist" >
              <ul id="autoWidth" class="cs-hidden">
                  {{#each wish}}
                <li class="item-a">
                <div class="box" style="background-image: url({{this.image}});">
                <h1 class="boxhead">{{this.wishcity}}</h1>
                </div>
                </li>
                {{/each}}
            </ul> 
        </div>
          <script src="/slider.js"></script>
  </div>
    </div>
    <button class="planbtn" style="width: 13vw;" onclick="window.location.href = '/mainpage/#packages';">Plan Your Trip!</button>
    <div class="mytrips">
        {{#each trips}}
        <div class="T" id={{this.Tripno}}>
        <div class="trip">
            <a><img  src="/img/trip.png"></a>
        </div>
        
        <h1>{{this.Tripno}}<h1>
        <form class="tripshow" method="POST" action="/auth/tripshow" style="display: none;">
            <input type="checkbox" value={{this.Tripno}} name="tripno">
        </form>
        </div>
       {{/each}}
    </div>
    <form method="POST" action="/auth/mytrip" style="visibility:hidden;" id="for">
<input type="text" id="t" name="tri">
</form>
    </div>
<script>
     $(".T").click(function(event){
         x=($(this).attr('id'));
         $("#t").val(x)
       
         $("#for").submit()
     })
</script>



</body>
</html>