<!DOCTYPE html>
<html>
<head>
    <title>Punjab Province</title>
    <link rel="shortcut icon" href="/img/logo.png"/>
    <link rel='stylesheet' href="/Punjab.css" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/71b0414b2a.js" crossorigin="anonymous"></script>
        <!--slider files-->
    <link rel="stylesheet" href="/lsfile/lightslider.css">
    <script src="/jquery.js"></script>
    <script src="/lsfile/lightslider.js"></script>

</head>
<body onload="loadfun()">
    <div id="loading">
  <div class="load1" ></div>
  <div class="load2"></div>
  <div class="load3"></div>
  <div class="load4"></div>
  <div class="load5"></div>
</div>
<div class="container" id="myDiv">
  <script>
  function loadfun() {
  myVar = setTimeout(showPage, 3000);
}
function showPage() {
  document.getElementById("loading").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
  document.body.style.overflow="visible";
}
</script>
  <div class="wrapper">
    <h1 class="messagehead">Click the cities and places to add them in wishlist then click continue in cart to confirm</h1>
    <!--navigation bar-->
  <nav class="navbar">
      <!--logo-->
      <img src="/img/logo.png">
      <a href="/mainpage" class="logo">Touristooze</a>
        <!--search-->

      
      <!--menu-->
     <ul class="menu">
          <li><a href="/MyTrips">My Trips</a></li>
          <li><a href="/AboutUs/#re">Reviews</a></li>
          <li><a href="/AboutUs">About</a></li>
          <li><a href="/catalog">Destinations</a></li>
          <li><a href="/SignIn">{{tag}}</a></li>  
        </ul>
  </nav>
  </div>
  <div class="frames">
        
        <ul>
          <li id ="hul1"><img src="/Punjab/punjabi2.jpg"></li>
          <li id ="hul2"><img src="/Punjab/punjabi1.jpg"></li>
          <li id ="hul3"><img src="/Punjab/punjabi3.jpg"></li>
        </ul>

  </div>
</div>

<div class="actualcontent">
  <div id="falto1">
  </div>

  <h1 id="PROVINCE" style="width: 40%;">PUNJAB</h1>
   <div id="falto2" style="margin-left:45%;width: 55%;">
  </div> 
  <p id="quote">"Culture , Colours , Music , Rivers ..Punjab has it all!"</p>

    <div class="textbox">
    <p><span style="font-weight:bold;">Everybody knows Punjab!</span> Its music cuisine and culture has no parallel.Its people are rather friendly jolly and colourful.</p>
    <p>It has many landmarks of history and is home to some of the holiest places in Sikhism, Christanity and Islam. 
    Its referred to as the<span style="font-weight:bold;"> Land of rivers </span>having 5 rivers passing through it thus encompassing rich and fertile soil.</p>
  </div>
  
  <div style="display:flex;flex-direction:row;padding-left:15%;">
  <div class="sideinfo">
    <h2>Best Time to visit </h2>
    <h4>October to March</h4>
    <p>The weather in Punjab is normally hot and arid but improves during the winter and  monsoon seasons</p>
  </div>
    <div class="sideinfo">
 
    {{#each events}}
    <p>{{this.Name}} at {{this.City}} on {{this.month}}</p><br>
    {{/each}}
  </div>
  </div>
<<h1 class="deshead" >COOL INSIGHTS</h1>
  <div class="insight">
    <div class="imgdiv">
      <img src="/Punjab/i1.jpg" alt="" id="sight1">
    </div>
    <div class="imgdiv">
      <img src="/Punjab/i2.jpg" alt="" id="sight2">
    </div>
    <div class="imgdiv">
        <img src="/Punjab/i3.jpg" alt="" id="sight3">
    </div>
    <div class="imgdiv">
        <img src="/Punjab/i4.jpg" alt="" id="sight4">
    </div>
    <div class="imgdiv">
      <img src="/Punjab/i5.jpg" alt="" id="sight5">
    </div>
    <div class="imgdiv">
      <img src="/Punjab/i6.jpg" alt="" id="sight6">
    </div>
    <div class="imgdiv">
      <img src="/Punjab/i7.jpg" alt="" id="sight7">
    </div>
    <div class="imgdiv">
      <img src="/Punjab/i8.jpg" alt="" id="sight8">
    </div>
    <div class="imgdiv">
      <img src="/Punjab/i9.jpg" alt="" id="sight9">
    </div>
    <div class="imgdiv">
      <img src="/Punjab/i10.jpg" alt="" id="sight10">
    </div>
  </div>
<script>
var slideIndex = 0;
showSlides();
function showSlides() {
  var i;
  var slides = document.getElementsByClassName("imgdiv");
  
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  
  slides[slideIndex-1].style.display = "block";  
  
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>


 <h1 class="deshead" >FEATURED DESTINATIONS</h1>

  <div class="filterbar">
        <div class="filterportion" id="filterportion">
      <div class="filterbox">
      <img src="/img/payment/close.png" alt="close" class="close" id="close2">
        <h4 class="filterhead" id="fh1">Filter</h4>
        <div class="activityfilter" >
          
          <h4 class="filterhead" id="fh2">Filter by activity</h4>
          <div style="display:flex;">
          <div style=" width:30%;">
          <input type="checkbox" name="activity" value="swimming" id="ac1" class="activitychoice">
          <label for="ac1">Swimming</label><br>
          <input type="checkbox" name="activity" value="outdoors" id="ac2" class="activitychoice">
          <label for="ac2">Outdoors</label><br>
          <input type="checkbox" name="activity" value="shopping" id="ac3" class="activitychoice">
          <label for="ac3">Shopping</label>
          </div>
          <div style="width:30%;margin-left:5%">
          <input type="checkbox" name="activity" value="Hill" id="ac4" class="activitychoice">
          <label for="ac4">Hill</label><br>
          <input type="checkbox" name="activity" value="culture" id="ac5" class="activitychoice">
          <label for="ac5">Culture</label><br>
          <input type="checkbox" name="activity" value="history" id="ac6" class="activitychoice">
          <label for="ac6">History</label>
          </div>
          </div>
        </div>
       
        <div style="display:flex;padding-left:60%">
          <button type="button" id="applyBtn" >Apply</button>
          <button type="button" id="cancelBtn" >Cancel</button>
        </div>
      </div>
    </div>
<div class="search" style="width:20%;height:50px; border-color:rgb(99, 32, 119)" >
      <input type="text" placeholder="Search for cities..." id="cityfilter" name="cityfilter" >
      <a  id="f"  style="font-size:large;cursor:pointer"><i class="fas fa-search"></i></a>
  </div>


  <button class="buttons" id="fbtn" style="margin-left:3%;width:12%;border-radius:15px;"><i class="fas fa-filter" style="margin-right:7%;">
    </i>Filter</button>
  </div>
    <h1 class="searcherr">This city doesnt exist</h1>
  <script>
   
  function enableScrolling(){
    window.onscroll=function(){};
    }
      function disableScrolling(){
          var x=window.scrollX;
          var y=window.scrollY;
          window.onscroll=function(){window.scrollTo(x, y);};
      }
      document.querySelector("#close2").addEventListener("click", function(){
            document.querySelector("#filterportion").style.display="none";
            enableScrolling()
            })
      document.querySelector("#cancelBtn").addEventListener("click", function(){
            document.querySelector("#filterportion").style.display="none";
            enableScrolling()
            })
      document.querySelector("#applyBtn").addEventListener("click", function(){
            document.querySelector("#filterportion").style.display="none";
            enableScrolling()
            })
      document.querySelector("#fbtn").addEventListener("click", function(){
            document.querySelector("#filterportion").style.display="block";
            disableScrolling()})
  </script>
  <!--Destination slider-->
  <div style="margin-left:6%; padding-right:6%">

  <ul id="autoWidth" class="cs-hidden">
    <li class="item-a o" id="1">
      <div class="box" style="background-image: url(/Punjab/logos/lahore.jpg);">
      <h1 class="boxhead">Lahore</h1>
      </div>
    </li>
    <li class="item-b o" id="2">
      <div class="box" style="background-image: url(/Punjab/logos/islamabad.jpg);">
      <h1 class="boxhead">islamabad</h1>
      </div> 
    </li>
    <li class="item-c o"id="3">
      <div class="box"style="background-image: url(/Punjab/logos/kamoke.jpg);">
      <h1 class="boxhead">kamoke</h1>
      </div></li>
    <li class="item-d o" id="4">
      <div class="box"style="background-image: url(/Punjab/logos/sialkot.jpg);">
      <h1 class="boxhead">sialkot</h1>
      </div>
    </li>
    <li class="item-e o"id="5">  
      <div class="box"style="background-image: url(/Punjab/logos/jhang.jpg);">
      <h1 class="boxhead">jhang</h1>
      </div>
    </li>
    <li class="item-f o" id="6">  
      <div class="box"style="background-image: url(/Punjab/logos/chiniot.jpg);">
      <h1 class="boxhead">chiniot</h1>
      </div>
    </li>
    <li class="item-g o" id="7">  
      <div class="box"style="background-image: url(/Punjab/logos/faisalabad.jpg);">
      <h1 class="boxhead">faisalabad</h1>
      </div>
    </li>
    <li class="item-h o" id="8">  
      <div class="box"style="background-image: url(/Punjab/logos/wah.jpg);">
      <h1 class="boxhead">wah</h1>
      </div>
    </li>
    <li class="item-i o" id="9">  
      <div class="box"style="background-image: url(/Punjab/logos/kasur.jpg);">
      <h1 class="boxhead">kasur</h1>
      </div>
    </li>
  </ul> 
  <div id="cl">
    <form action="/auth/planpunjab" method="POST">
  <div class="city" id="islamabad">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
          <label for="check1">
          <label for="check1">
            <input id="check1" type="checkbox" value="Islamabad" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/islamabad.jpg" alt="">
            </div>
            <h1 class="cname">islamabad</h1>
          </div>
        
              

{{#each islamabad}}
            <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="lahore">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check2">
            <input id="check2" type="checkbox" value="Lahore" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/lahore.jpg" alt="">
            </div>
            <h1 class="cname"> Lahore</h1>
          </div>
          
              
{{#each lahore}}
              <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="bahawalpur">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
          <label for="check3">
            <input id="check3" type="checkbox" value="Bhawalpur" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/bahawalpur.jpg" alt="">
            </div>
            <h1 class="cname"> Bahawalpur</h1>
          </div>
          
              

{{#each bahawalpur}}
              <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="chiniot">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check4">
            <input id="check4" type="checkbox" value="Chiniot" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/chiniot.jpg" alt="">
            </div>
            <h1 class="cname">chiniot</h1>
          </div>
{{#each chiniot}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="deraghazi">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                   <label for="check5">
            <input id="check5" type="checkbox" value="Dera Ghazi Khan" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/deraghazi.jpg" alt="">
            </div>
            <h1 class="cname"> deraghazi</h1>
          </div>
          
{{#each deraghazi}}
              <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="faisalabad">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check6">
            <input id="check6" type="checkbox" value="Faisalabad" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/faisalabad.jpg" alt="">
            </div>
            <h1 class="cname">faisalabad</h1>
          </div>
          
{{#each faislabad}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="gujranwala">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                   <label for="check7">
            <input id="check7" type="checkbox" value="Gujranwala" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/gujranwala.jpg" alt="">
            </div>
            <h1 class="cname"> gujranwala</h1>
          </div>

{{#each gujranwala}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="gujrat">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check8">
            <input id="check8" type="checkbox" value="Gujrat" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/gujrat.jpg" alt="">
            </div>
            <h1 class="cname"> gujrat</h1>
          </div>
          
{{#each gujrat}}
              <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="jhang">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check9">
            <input id="check9" type="checkbox" value="Jhang" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/jhang.jpg" alt="">
            </div>
            <h1 class="cname"> jhang</h1>
          </div>
          
{{#each jhang}}
           <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="kamoke">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                   <label for="check10">
            <input id="check10" type="checkbox" value="Kamoke" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/kamoke.jpg" alt="">
            </div>
            <h1 class="cname"> kamoke</h1>
          </div>
 {{#each kamoke}}
            <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="kasur">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check11">
            <input id="check11" type="checkbox" value="Kasur" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/kasur.jpg" alt="">
            </div>
            <h1 class="cname">kasur</h1>
          </div>
      
{{#each kasur}}
           <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="multan">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.visibility='hidden'">
                   <label for="check12">
            <input id="check12" type="checkbox" value="Multan" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/multan.jpg" alt="">
            </div>
            <h1 class="cname">Multan</h1>
          </div>
          

{{#each multan}}
           <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="wah">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check13">
            <input id="check13" type="checkbox" value="Wah" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/wah.jpg" alt="">
            </div>
            <h1 class="cname">Wah</h1>
          </div>
         
{{#each wah}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="sialkot">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check14">
            <input id="check14" type="checkbox" value="Sialkot" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/sialkot.jpg" alt="">
            </div>
            <h1 class="cname">Sialkot</h1>
          </div>
          

   {{#each sialkot}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 
    <div class="city" id="sheikhupura">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.visibility='hidden'">
                    <label for="check15">
            <input id="check15" type="checkbox" value="Sheikhupura" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/sheikhupura.jpg" alt="">
            </div>
            <h1 class="cname">sheikhupura</h1>
          </div>
         

{{#each sheikhupura}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="sargodha">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check16">
            <input id="check16" type="checkbox" value="Sargodha" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/sargodha.jpg" alt="">
            </div>
            <h1 class="cname">sargodha</h1>
          </div>
         

{{#each sargodha}}
            <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="sahiwal">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check17">
            <input id="check17" type="checkbox" value="Sahiwal" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/sahiwal.jpg" alt="">
            </div>
            <h1 class="cname">sahiwal</h1>
          </div>
         
{{#each sahiwal}}
               <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="rawalpindi">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check18">
            <input id="check18" type="checkbox" value="Rawalpindi" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/rawalpindi.jpg" alt="">
            </div>
            <h1 class="cname">rawalpindi</h1>
          </div>
         
{{#each rawalpindi}}
            <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="rahimyarkhan">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check19">
            <input id="check19" type="checkbox" value="Rahim Yar Khan" class="checkbox" name="city" >
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/rahimyarkhan.jpg" alt="">
            </div>
            <h1 class="cname">rahimyarkhan</h1>
          </div>
         
{{#each rahimyarkhan}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="okara">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
          
          
          
                   <label for="check20">
            <input id="check20" type="checkbox" value="Okara" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Punjab/logos/okara.jpg" alt="">
            </div>
            <h1 class="cname">Okara</h1>
          </div>
      
{{#each okara}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 
</div>
   
  <script src="/slider.js">
  </script>
  


  </div>
  
</div>
<div class="cart"><i class="fas fa-shopping-cart"></i></div>

    <div class="filterportion" id="cartportion">
      <div class="filterbox">
      <img src="/img/payment/close.png" alt="close" class="close" id="close5">
        <h4 class="filterhead" id="fh1">Cart</h4>
        <div id="listbox">
           <div id="listbox">
          <h3 id="list"></h3>
        </div>
        </div>
        <div style="display:flex;padding-left:60%">
          <button type="submit" id="continueBtn" >Continue</button>
          <button type="button" id="ccancelBtn" >Cancel</button>
        </div>
      </div>
    </div>
</div>
</body>
</form>

<footer>
</footer>
<script>     
   document.querySelector("#ccancelBtn").addEventListener("click", function(){
            document.querySelector("#cartportion").style.display="none";
            enableScrolling()
            })</script>
  <script>
$(document).ready(function() {
var checkboxes = $( '.activitychoice' );
    // Check all checkboxes
    checkboxes.prop( 'checked', true );
   
  $(".checkbox").click(function () {
    $( "#list" ).empty();
            //Reference the CheckBoxes and determine Total Count of checked CheckBoxes.
            var checked = $("#cl input[type=checkbox]:checked").length;
 
            if (checked > 0) {
                $('.messagehead').css("display","block");
                var wishlist = [];
                 $.each($("input[name='city']:checked"), function(){
                wishlist.push($(this).val());
                
            });
            
            $.each(wishlist, function(index, value){
            $("#list").append (value + "<br>");
        });
            } else {
                $('.messagehead').css("display","none");
            }
            
        });
  $("#f").click(function(){
        var x = $("#cityfilter").val();
        x=x.toLowerCase();
        
        if($("#"+x).length>0){$('.searcherr').css("display","none");$(".city").css("display","none");$("#"+x).css("display","block")}
        
        else{ $('.searcherr').css("display","block");$(".city").css("display","block")}
        
    });
    $("#ccancelBtn").click(function(event) {$('#cartportion').css("display","none");} );
    $("#applyBtn").click(function(event) {
      $('#filterportion').css("display","none");
      $(".places").css("display","none")
      $(".city").css("display","block")
     if($("#ac1").prop("checked") == true){
                $(".swimming").css("display","block")
            }
      if($("#ac2").prop("checked") == true){
                $(".outdoors").css("display","block")
            }
      if($("#ac3").prop("checked") == true){
                $(".shopping").css("display","block")
            }
      if($("#ac4").prop("checked") == true){
                $(".hill").css("display","block")
            }
      if($("#ac5").prop("checked") == true){
                $(".culture").css("display","block")
            }
      if($("#ac6").prop("checked") == true){
                $(".history").css("display","block")
            }
     
      } );
    $(".cart").click(function(event) {$('#cartportion').css("display","block");} );
    $("#close5").click(function(event) {$('#cartportion').css("display","none");} );
  
    $(".o").click(function(event) {
       
       x=$(this).attr('id');
if (x=="1"){$(".city").css("display","none");
       $('#lahore').css("display","block");
       }
       else  if(x=="2"){$('#islamabad').css("display","block");}
       else  if(x=="3"){$('#kamoke').css("display","block");}
       else  if(x=="4"){$('#sialkot').css("display","block");}
       else  if(x=="5"){$('#jhang').css("display","block");}
       else  if(x=="6"){$('#chiniot').css("display","block");}
       else  if(x=="7"){$('#faislabad').css("display","block");}
       else  if(x=="8"){$('#wah').css("display","block");}
       else  if(x=="9"){$('#kasur').css("display","block");}
    });
});
  </script>

</body>
</html>