<<!DOCTYPE html>
<html>
<head>
    <title>Sindh Province</title>
    <link rel="shortcut icon" href="/img/logo.png"/>
    <link rel='stylesheet' href="/Sindh.css" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/71b0414b2a.js" crossorigin="anonymous"></script>
    <!--slider files-->
    <link rel="stylesheet" href="/lsfile/lightslider.css">
    <script src="/jquery.js"></script>
    <script src="/lsfile/lightslider.js"></script>

</head>


<body onload="loadfun()">
    <div id="loading">
  <div class="load1" ></div>
  <div class="load2"></div>
  <div class="load3"></div>
  <div class="load4"></div>
  <div class="load5"></div>
</div>
<div class="container" id="myDiv">
  <script>
  function loadfun() {
  myVar = setTimeout(showPage, 3000);
}
function showPage() {
  document.getElementById("loading").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
  document.body.style.overflow="visible";
}
</script>
  <div class="wrapper">
  <h1 class="messagehead">Click the cities and places to add them in wishlist then click continue in cart to confirm</h1>
    <!--navigation bar-->
    <img src="/img/logo.png" id="logo">
      <a href="/mainpage" class="logo">Touristooze</a>
  <nav class="navbar">

        <!--search-->

<!--        <label class="menu-icon" for="menu-btn" style="font-size:1.2rem; ">
          <span><i style= "padding: 10px" class="fas fa-bars"></i></span>
      </label> -->
      <!--menu-->
      <ul class="menu">
          <li><a href="/MyTrips">My Trips</a></li>
          <li><a href="/AboutUs/#re">Reviews</a></li>
          <li><a href="/AboutUs">About</a></li>
          <li><a href="/catalog">Destinations</a></li>
          <li><a href="/SignIn">{{tag}}</a></li>  
        </ul>
  </nav>
  </div>
  <div class="frames">
        
        <ul>
          <li id ="hul1"><img src="/Sindh/main1.jpg"></li>
          <li id ="hul2"><img src="/Sindh/main2.jpg"></li>
          <li id ="hul3"><img src="/Sindh/main3.jpg"></li>
        </ul>

  </div>
</div>

<div class="actualcontent">
  <div id="falto1">
  </div>

  <h1 id="PROVINCE" style="width: 35%;">SINDH</h1>
   <div id="falto2" style="width: 60%;margin-left:40%;">
  </div>
  <p id="quote">"Sindh is a gift of Indus as Egypt is the gift of Nile..."</p>

    <div class="textbox">
    <p>Sindh the <span style="font-weight:bold;">BABULISlAM</span> has been a centre of cultural manifestations and a centre of handicrafts for many years.People are mostly generous and hospitable.</p>
    <p>Sindh is the second largest province both in terms of population and area. The people are mostly Muslims but represtations of various religious communties reside in the province each with their special heritage</p>
  </div>
  
  <div style="display:flex;flex-direction:row;padding-left:15%;">
  <div class="sideinfo">
    <h2>Best Time to visit </h2>
    <h4>October to Feburary</h4>
    <p>The weather in Sindh is normally hot and humid but improves during the winter and  monsoon seasons</p>
  </div>
    <div class="sideinfo">
    <h2>Events</h2>
  
    {{#each events}}
    <p>{{this.Name}} at {{this.City}} on {{this.month}}</p>
    {{/each}}
  </div>
  </div>

<h1 class="deshead" >COOL INSIGHTS</h1>
  <div class="insight">
    <div class="imgdiv">
      <img src="/Sindh/i1.jpg" alt="" id="sight1">
    </div>
    <div class="imgdiv">
      <img src="/Sindh/i2.jpg" alt="" id="sight2">
    </div>
    <div class="imgdiv">
        <img src="/Sindh/i3.jpg" alt="" id="sight3">
    </div>
    <div class="imgdiv">
        <img src="/Sindh/i4.jpg" alt="" id="sight4">
    </div>
    <div class="imgdiv">
      <img src="/Sindh/i5.jpg" alt="" id="sight5">
    </div>
    <div class="imgdiv">
      <img src="/Sindh/i6.jpg" alt="" id="sight6">
    </div>
    <div class="imgdiv">
      <img src="/Sindh/i7.jpg" alt="" id="sight7">
    </div>
    <div class="imgdiv">
      <img src="/Sindh/i8.jpg" alt="" id="sight8">
    </div>
    <div class="imgdiv">
      <img src="/Sindh/i9.jpg" alt="" id="sight9">
    </div>
    <div class="imgdiv">
      <img src="/Sindh/i10.jpg" alt="" id="sight10">
    </div>
  </div>
<script>
var slideIndex = 0;
showSlides();
function showSlides() {
  var i;
  var slides = document.getElementsByClassName("imgdiv");
  
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  
  slides[slideIndex-1].style.display = "block";  
  
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>
  

  
  <h1 class="deshead" >FEATURED DESTINATIONS</h1>

  <div class="filterbar">
    <div class="filterportion" id="filterportion">
      <div class="filterbox">
      <img src="/img/payment/close.png" alt="close" class="close" id="close2">
        <h4 class="filterhead" id="fh1">Filter</h4>
        <div class="activityfilter" >
          
          <h4 class="filterhead" id="fh2">Filter by activity</h4>
          <div style="display:flex;">
          <div style=" width:30%;">
          <input type="checkbox" name="activity" value="swimming" id="ac1" class="activitychoice">
          <label for="ac1">Swimming</label><br>
          <input type="checkbox" name="activity" value="outdoors" id="ac2" class="activitychoice">
          <label for="ac2">Outdoors</label><br>
          <input type="checkbox" name="activity" value="shopping" id="ac3" class="activitychoice">
          <label for="ac3">Shopping</label>
          </div>
          <div style="width:30%;margin-left:5%">
          <input type="checkbox" name="activity" value="hill" id="ac4" class="activitychoice">
          <label for="ac4">Hill</label><br>
          <input type="checkbox" name="activity" value="culture" id="ac5" class="activitychoice">
          <label for="ac5">Culture</label><br>
          <input type="checkbox" name="activity" value="history" id="ac6" class="activitychoice">
          <label for="ac6">History</label>
          </div>
          </div>
        </div>
        
        <div style="display:flex;padding-left:60%">
          <button type="button" id="applyBtn" >Apply</button>
          <button type="button" id="cancelBtn" >Cancel</button>
        </div>
      </div>
    </div>
  <div class="search" style="width:20%;height:50px; border-color:rgb(99, 32, 119)" >
      <input type="text" placeholder="Search for cities..." id="cityfilter" name="cityfilter" >
      <a  id="f"  style="font-size:large;cursor:pointer"><i class="fas fa-search"></i></a>
  </div>


  <button class="buttons" id="fbtn" style="margin-left:3%;width:12%;border-radius:15px;"><i class="fas fa-filter" style="margin-right:7%;">
    </i>Filter</button>
  </div>
    <h1 class="searcherr">This city doesnt exist</h1>
  <script>
  function enableScrolling(){
    window.onscroll=function(){};
    }
      function disableScrolling(){
          var x=window.scrollX;
          var y=window.scrollY;
          window.onscroll=function(){window.scrollTo(x, y);};
      }
      document.querySelector("#close2").addEventListener("click", function(){
            document.querySelector("#filterportion").style.display="none";
            enableScrolling()
            })
      document.querySelector("#cancelBtn").addEventListener("click", function(){
            document.querySelector("#filterportion").style.display="none";
            enableScrolling()
            })
      document.querySelector("#applyBtn").addEventListener("click", function(){
            document.querySelector("#filterportion").style.display="none";
            enableScrolling()
            })
      document.querySelector("#fbtn").addEventListener("click", function(){
            document.querySelector("#filterportion").style.display="block";
            disableScrolling()})
  </script>
  <!--Destination slider-->
  <div style="margin-left:6%; padding-right:6%">

  <ul id="autoWidth" class="cs-hidden">
    <li class="item-a o" id="1">
      <div class="box" style="background-image: url(/Sindh/logos/karachi.jpg);">
      <h1 class="boxhead">KARACHI</h1>
      </div>
    </li>
    <li class="item-b o" id="2">
      <div class="box" style="background-image: url(/Sindh/logos/hyderabad.jpg);">
      <h1 class="boxhead">HYDERABAD</h1>
      </div> 
    </li>
    <li class="item-c o" id="3">
      <div class="box"style="background-image: url(/Sindh/logos/sehwan.jpg);">
      <h1 class="boxhead">SEHWAN</h1>
      </div></li>
    <li class="item-d o" id="4">
      <div class="box"style="background-image: url(/Sindh/logos/rohri.jpg);">
      <h1 class="boxhead">ROHRI</h1>
      </div>
    </li>
    <li class="item-e o" id="5">  
      <div class="box"style="background-image: url(/Sindh/logos/sukkur.jpg);">
      <h1 class="boxhead">SUKKUR</h1>
      </div>
    </li>
    <li class="item-f o" id="6">  
      <div class="box"style="background-image: url(/Sindh/logos/mirpurkhas.jpg);">
      <h1 class="boxhead">mirpurkhas</h1>
      </div>
    </li>
    <li class="item-g o" id="7">  
      <div class="box"style="background-image: url(/Sindh/logos/larkana.jpg);">
      <h1 class="boxhead">larkana</h1>
      </div>
    </li>
    <li class="item-h o" id="8">  
      <div class="box"style="background-image: url(/Sindh/logos/Nawabshah.jpg);">
      <h1 class="boxhead">Nawabshah</h1>
      </div>
    </li>
    <li class="item-i o" id="9">  
      <div class="box"style="background-image: url(/Sindh/logos/umerkot.jpg);">
      <h1 class="boxhead">umerkot</h1>
      </div>
    </li>
  </ul>




  <div id="cl">
    <form action="/auth/plansindh" method="POST">
  <div class="city" id="karachi" style="display: block;">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
          <label for="check1">
          <label for="check1">
            <input id="check1" type="checkbox" value="Karachi" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/karachi.jpg" alt="">
            </div>
            <h1 class="cname"> Karachi</h1>
          </div>
        
              

        {{#each karachi}}
          <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>
          {{/each}}
  </div> 

    <div class="city" id="badin">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check2">
            <input id="check2" type="checkbox" value="Badin" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/badin.jpg" alt="">
            </div>
            <h1 class="cname"> Badin</h1>
          </div>
          
              
{{#each badin}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="dadu">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
          <label for="check3">
            <input id="check3" type="checkbox" value="Dadu" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/dadu.jpg" alt="">
            </div>
            <h1 class="cname"> Dadu</h1>
          </div>
          
              

{{#each dadu}}
            <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="dharki">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check4">
            <input id="check4" type="checkbox" value="Daharki" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/dharki.jpg" alt="">
            </div>
            <h1 class="cname">Dharki</h1>
          </div>
          


{{#each dharki}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="mirpurkhas">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                   <label for="check5">
            <input id="check5" type="checkbox" value="Mirpur khas" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/mirpurkhas.jpg" alt="">
            </div>
            <h1 class="cname"> Mirpurkhas</h1>
          </div>
          
             


{{#each mirpur}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="Nawabshah">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check6">
            <input id="check6" type="checkbox" value="Nawabshah" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/Nawabshah.jpg" alt="">
            </div>
            <h1 class="cname">Nawabshah</h1>
          </div>
          
             


{{#each nawabshah}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="larkana">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                   <label for="check7">
            <input id="check7" type="checkbox" value="Larkana" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/larkana.jpg" alt="">
            </div>
            <h1 class="cname"> Larkana</h1>
          </div>

{{#each larkana}}
          <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="kotri">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check8">
            <input id="check8" type="checkbox" value="Kotri" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/kotri.jpg" alt="">
            </div>
            <h1 class="cname"> Kotri</h1>
          </div>
          

{{#each kotri}}
              <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="khairpur">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check9">
            <input id="check9" type="checkbox" value="Khairpur" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/khairpur.jpg" alt="">
            </div>
            <h1 class="cname"> KhairPur</h1>
          </div>
          

{{#each khairpur}}
            <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="ghotki">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                   <label for="check10">
            <input id="check10" type="checkbox" value="Ghotki" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/ghotki.jpg" alt="">
            </div>
            <h1 class="cname"> Ghotki</h1>
          </div>
          


{{#each ghotki}}
            <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="hyderabad">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check11">
            <input id="check11" type="checkbox" value="Hyderabad" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/hyderabad.jpg" alt="">
            </div>
            <h1 class="cname">Hyderabad</h1>
          </div>
      

{{#each hyderabad}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="jacobabad">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.visibility='hidden'">
                   <label for="check12">
            <input id="check12" type="checkbox" value="Jacobabad" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/jacobabad.jpg" alt="">
            </div>
            <h1 class="cname">Jacobabad</h1>
          </div>
          


{{#each jacobabad}}
              <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="sukkur">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check13">
            <input id="check13" type="checkbox" value="Sukkur" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/sukkur.jpg" alt="">
            </div>
            <h1 class="cname">Sukker</h1>
          </div>
         
{{#each sukker}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="shadadkot">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check14">
            <input id="check14" type="checkbox" value="Shahdadkot" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/shadadkot.jpg" alt="">
            </div>
            <h1 class="cname">Shadadkot</h1>
          </div>
          

{{#each shadadkot}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 
    <div class="city" id="sehwan">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.visibility='hidden'">
                    <label for="check15">
            <input id="check15" type="checkbox" value="Sehwan" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/sehwan.jpg" alt="">
            </div>
            <h1 class="cname">Sehwan</h1>
          </div>
         

{{#each sehwan}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="Rohri">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check16">
            <input id="check16" type="checkbox" value="Rohri" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/Rohri.jpg" alt="">
            </div>
            <h1 class="cname">Rohri</h1>
          </div>
         


{{#each rohri}}
              <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="tando-allahyar">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check17">
            <input id="check17" type="checkbox" value="Tando Allah yar" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/tando-allahyar.jpg" alt="">
            </div>
            <h1 class="cname">Tando-Allahyar</h1>
          </div>
         
{{#each tandoallah}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="umerkot">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check18">
            <input id="check18" type="checkbox" value="Umerkot" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/umerkot.jpg" alt="">
            </div>
            <h1 class="cname">Umerkot</h1>
          </div>
         

   {{#each umerkot}}
         <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="shikarpur">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
                    <label for="check19">
            <input id="check19" type="checkbox" value="Shikarpur" class="checkbox" name="city" >
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/shikarpur.jpg" alt="">
            </div>
            <h1 class="cname">Shikarpur</h1>
          </div>
         

    {{#each shikarpur}}
             <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 

    <div class="city" id="tandoadam">
      <img src="/img/payment/close.png" alt="close" class="close daba" id="close2"onclick="this.parentNode.style.display='none'">
          
          
          
                   <label for="check20">
            <input id="check20" type="checkbox" value="Tando Adam" class="checkbox" name="city" style="visibilty:visible">
            <div class="checkb">
              <div class="check"></div>
              <h4>Add to <br>Wishlist!</h4>
            </div>
          </label>
          <div style="display:flex;flex-direction:row;border-bottom:3px solid brown">
            
            <div class="cimg">
              <img src="/Sindh/logos/tandoadam.jpg" alt="">
            </div>
            <h1 class="cname">Tandoadam</h1>
          </div>
      

        {{#each tandoadam}}
            <div class="places {{this.Type}}">
          
            
             
            <div style="display:flex;flex-direction:row;border-bottom:3px solid brown;margin-bottom:3%">
            
            <div class="pimg">
              <img src="{{this.image}}" alt="">
            </div>
            <h1 class="pname">{{this.Name}}</h1>
          </div>
          <h2>Activities: {{this.Type}}</h2>
       

          </div>{{/each}}
  </div> 
</div>
   
  <script src="/slider.js">
  </script>
  


  </div>
  
</div>
<div class="cart"><i class="fas fa-shopping-cart"></i></div>

    <div class="filterportion" id="cartportion">
      <div class="filterbox">
      <img src="/img/payment/close.png" alt="close" class="close" id="close5">
        <h4 class="filterhead" id="fh1">Cart</h4>
        <div id="listbox">
           <div id="listbox">
          <h3 id="list"></h3>
        </div>
        </div>
        <div style="display:flex;padding-left:60%">
          <button type="submit" id="continueBtn" >Continue</button>
          <button type="button" id="ccancelBtn" >Cancel</button>
        </div>
      </div>
    </div>
</div>
</body>




</form>
<footer>
</footer>
<script>     
   document.querySelector("#ccancelBtn").addEventListener("click", function(){
            document.querySelector("#cartportion").style.display="none";
            enableScrolling()
            })</script>
  <script>
$(document).ready(function() {
var checkboxes = $( '.activitychoice' );
    // Check all checkboxes
    checkboxes.prop( 'checked', true );
   
  $(".checkbox").click(function () {
    $( "#list" ).empty();
            //Reference the CheckBoxes and determine Total Count of checked CheckBoxes.
            var checked = $("#cl input[type=checkbox]:checked").length;
 
            if (checked > 0) {
                $('.messagehead').css("display","block");
                var wishlist = [];
                 $.each($("input[name='city']:checked"), function(){
                wishlist.push($(this).val());
                
            });
            
            $.each(wishlist, function(index, value){
            $("#list").append (value + "<br>");
        });
            } else {
                $('.messagehead').css("display","none");
            }
            
        });
  $("#f").click(function(){
        var x = $("#cityfilter").val();
        x=x.toLowerCase();
        
        if($("#"+x).length>0){$('.searcherr').css("display","none");$(".city").css("display","none");$("#"+x).css("display","block")}
        
        else{ $('.searcherr').css("display","block");$(".city").css("display","block")}
        
    });
    $("#ccancelBtn").click(function(event) {$('#cartportion').css("display","none");} );
    $("#applyBtn").click(function(event) {
      $('#filterportion').css("display","none");
      $(".places").css("display","none")
      $(".city").css("display","block")
     if($("#ac1").prop("checked") == true){
                $(".swimming").css("display","block")
            }
      if($("#ac2").prop("checked") == true){
                $(".outdoors").css("display","block")
            }
      if($("#ac3").prop("checked") == true){
                $(".shopping").css("display","block")
            }
      if($("#ac4").prop("checked") == true){
                $(".hill").css("display","block")
            }
      if($("#ac5").prop("checked") == true){
                $(".culture").css("display","block")
            }
      if($("#ac6").prop("checked") == true){
                $(".history").css("display","block")
            }
     
      } );
    $(".cart").click(function(event) {$('#cartportion').css("display","block");} );
    $("#close5").click(function(event) {$('#cartportion').css("display","none");} );
  
    $(".o").click(function(event) {
       
       x=$(this).attr('id');
       if (x=="1"){
         $(".city").css("display","none");
       $('#karachi').css("display","block");
       }
       else  if(x=="2"){$(".city").css("display","none");$('#hyderabad').css("display","block");}
       else  if(x=="3"){$(".city").css("display","none");$('#sehwan').css("display","block");}
       else  if(x=="4"){$(".city").css("display","none");$('#Rohri').css("display","block");}
       else  if(x=="5"){$(".city").css("display","none");$('#sukkur').css("display","block");}
       else  if(x=="6"){$(".city").css("display","none");$('#mirpurkhas').css("display","block");}
       else  if(x=="7"){$(".city").css("display","none");$('#larkana').css("display","block");}
       else  if(x=="8"){$(".city").css("display","none");$('#Nawabshah').css("display","block");}
       else  if(x=="9"){$(".city").css("display","none");$('#umerkot').css("display","block");}
    });
});
  </script>

</body>
</html>