<!DOCTYPE html><html>
<head>
    <title>Trip Detail</title>
    <link rel="shortcut icon" href="/img/logo.png"/>
    <link rel='stylesheet' href="/Tripdetails.css" >
    <script src="/jquery.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/71b0414b2a.js" crossorigin="anonymous"></script>
    <!--slider files-->
    <link rel="stylesheet" href="/lsfile/lightslider.css">
    
    <script src="/lsfile/lightslider.js"></script>

</head>
    <body>
        <body onload="loadfun()">
    <div id="loading">
  <div class="load1" ></div>
  <div class="load2"></div>
  <div class="load3"></div>
  <div class="load4"></div>
  <div class="load5"></div>
</div>
<div class="container" id="myDiv" >
  <h3 class="note">Click the back button to go back and edit trip!</h3>
<div class="info">
<h1>TRIP NO:{{tripno}}</h1>
<h1>NAME:{{name}}</h1>
<h1>PAYMENT TOTAL:{{pay}}</h1>
<h1>START DATE:{{startdate}}</h1>
<h1>END DATE:{{enddate}}</h1>
<h1>{{p}}</h1>
</div>

<button  id="continueBtn" onclick="window.location.href='{{des}}'">Continue</button>
<button   id="cancelBtn" >Cancel Trip</button><form id="cancel" method="POST" action="/auth/canceltrip"></form>
<div class="warn"><p>This will clear all Data</p><br>
<button  id="YesBtn" >Yes</button>
<button  id="NoBtn" >No</button>
</div>

{{#each city}}

<div class="city" id="tandoadam">
 

          <div class="DIV">
            
            <div class="cimg">
              <img src={{this.image}} >
            </div>
            <h1 class="cname">{{this.cityname}}</h1>
          </div>
      

          
  </div> {{/each}}
  
</div>



</div>
<script>
   $(document).on("click","#NoBtn", function (){$('.warn').css("display","none");})
 $(document).on("click","#cancelBtn", function () {$('.warn').css("display","block");})

  $(document).on("click","#YesBtn", function () {
   $('#cancel').submit();})
</script>
  <script>
  function loadfun() {
  myVar = setTimeout(showPage, 3000);
}

function showPage() {
  document.getElementById("loading").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
  document.body.style.overflow="visible";
}

</script>

    </body>
</html>